<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="20f3d861-1644-49c3-b3ed-617285d8a4e8" Publisher="CN=Robert" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Metro-ViewModelChangeByState</DisplayName>
    <PublisherDisplayName>Robert</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Metro_ViewModelChangeByState.App">
      <VisualElements DisplayName="Metro-ViewModelChangeByState" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Metro-ViewModelChangeByState" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>