<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ee245149-af73-465f-84af-949f5fd95e16" Publisher="CN=SADev" Version="2.0.0.0" />
  <Properties>
    <DisplayName>AtomicMVVM Metro Style App Demo</DisplayName>
    <PublisherDisplayName>robert</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>MetroDemo</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="metrodemo.exe" EntryPoint="MetroDemo.App">
      <VisualElements DisplayName="AtomicMVVM Metro Style App Demo" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="AtomicMVVM Metro Style App Demo" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile WideLogo="Images\WideLogo.png" ShortName="AtomicMVVM" ShowName="noLogos" />
        <SplashScreen Image="Images\SplashScreen.png" BackgroundColor="white" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.png</FileType>
              <FileType>.bmp</FileType>
              <FileType>.gif</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>