<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ee245149-af73-465f-84af-949f5fd95e16" Publisher="CN=SADev" Version="1.0.0.1" />
  <Properties>
    <DisplayName>AtomicMVVM Metro Style App Demo</DisplayName>
    <PublisherDisplayName>robert</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>MetroDemo</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="metrodemo.exe" EntryPoint="MetroDemo.App">
      <VisualElements DisplayName="AtomicMVVM Metro Style App Demo" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="AtomicMVVM Metro Style App Demo" ForegroundText="light" BackgroundColor="#000000" InitialRotationPreference="portrait">
        <DefaultTile />
        <SplashScreen Image="Images\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>